body {
    background-color: rgb(10, 10, 10);
    height: fill;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    color: rgb(100,100,100);
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(100,100,100);
}

h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgb(200, 200, 200);
}

.widgets {
    position: relative;
    /* background-color: red; */
    border-radius: 20px;
    max-width: 800px;
    min-width: 400px;
    height: 450px;
}

.weekly-weather {
    position: relative;
    background-color: rgb(45, 45, 45);
    font-family: inherit;
    width: 99%;
    top: 4px;
    min-height: 220px;
    max-width: 800px;
    border-radius: 20px;
    display: inline-block;
}

.weekday {
    background-color: rgb(35, 35, 35);
    position: relative;
    width: 100%;
    max-width: 107px;
    min-height: 127px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
}

/* .current-weather {
    /* position: relative;
    font-family: inherit;
    height: 200px;
    min-width: 400px;
    max-width: 810px;
    background-color: red;
    border-radius: 20px; 
    display: block;
} 
*/

.current-weather-temperature {
    background-color: rgb(45, 45, 45);
    position: relative;
    font-family: inherit;
    min-height: 200px;
    /* max-width: 300px; */
    width: 39%;
    border-radius: 20px;
    display: inline-block;
}

.current-weather-breakdown {
    background-color: rgb(45, 45, 45);
    position: relative;
    font-family: inherit;
    /* min-width: 495px; */
    width: 59.5%;
    min-height: 200px;
    border-radius: 20px;
    display: inline-block;
}